services:
  postgres:
    build: Dockerfile.pg
    container_name: postgres
    restart: always
    ports:
      - "5431:${DB_PORT}"
    environment:
      POSTGRES_DB: "${DB_DATABASE}"
      POSTGRES_HOST_AUTH_METHOD: trust

  nodejs-service:
    build: .
    container_name: nodejs-service
    restart: always
    depends_on:
      - postgres
    ports:
      - "${PORT}:${PORT}"
      - "${DEBUG_PORT}:${DEBUG_PORT}"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    environment:
      DATABASE_URL: "postgres://${DB_USERNAME}@${DB_HOST}/${DB_DATABASE}"
      PORT: "${PORT}"